label.required::after {
    /* content: " *"; */
}

.form-control.error {
    border-color: #ef5350;
}

.form-group ul {
    padding: 0;
    margin: 0;
}

.form-group ul li {
    list-style: none;
    color: #ef5350;
    font-size: 12px;
}

.dropify-wrapper .dropify-message p {
    text-align: center;
}

small.error {
    color: #dc0000;
}


/* .form-control{
    background-image: -webkit-gradient(linear,left top,left bottom,from(#398bf7),to(#398bf7)),-webkit-gradient(linear,left top,left bottom,from(#e9edf2),to(#e9edf2));
    background-image: -webkit-linear-gradient(#398bf7,#398bf7),-webkit-linear-gradient(#e9edf2,#e9edf2);
    background-image: -o-linear-gradient(#398bf7,#398bf7),-o-linear-gradient(#e9edf2,#e9edf2);
    background-image: linear-gradient(#398bf7,#398bf7),linear-gradient(#e9edf2,#e9edf2);
} */


/** TIMELINE */

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline>li {
    margin-bottom: 20px;
    position: relative;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li>.timeline-panel {
    width: 50%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline>li.timeline-inverted+li:not(.timeline-inverted),
.timeline>li:not(.timeline-inverted)+li.timeline-inverted {
    margin-top: -60px;
}

.timeline>li:not(.timeline-inverted) {
    padding-right: 90px;
}

.timeline>li.timeline-inverted {
    padding-left: 90px;
}

.timeline>li>.timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline>li>.timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline>li>.timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body>p,
.timeline-body>ul {
    margin-bottom: 0;
}

.timeline-body>p+p {
    margin-top: 5px;
}


/** END TIMELINE */

.table-hover {
    cursor: pointer;
}

.jstree-default .jstree-clicked {
    background: #46d89b !important;
    font-weight: bold!important;
    color: white!important;
    border-radius: 2px!important;
    box-shadow: inset 0 0 1px #999!important;
}

.cursor-pointer {
    cursor: pointer;
}


/*
Template Name: Admin pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/


/*
Template Name: Admin Pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/


/*Theme Colors*/


/*bootstrap Color*/


/*Light colors*/


/*Normal Color*/


/*Extra Variable*/


/*******************
 Card title
*******************/

.card-inverse .card-bodyquote .blockquote-footer,
.card-inverse .card-link,
.card-inverse .card-subtitle,
.card-inverse .card-text {
    color: rgba(255, 255, 255, 0.65);
}

.card-default .card-header {
    background: #ffffff;
    border-bottom: 0px;
}

.card-success {
    background: #06d79c;
    border-color: #06d79c;
}

.card-danger {
    background: #ef5350;
    border-color: #ef5350;
}

.card-warning {
    background: #ffb22b;
    border-color: #ffb22b;
}

.card-info {
    background: #398bf7;
    border-color: #398bf7;
}

.card-primary {
    background: #745af2;
    border-color: #745af2;
}

.card-dark {
    background: #2f3d4a;
    border-color: #2f3d4a;
}

.card-megna {
    background: #56c0d8;
    border-color: #56c0d8;
}


/*============================================================== 
 Cards page
 ============================================================== */

.card-actions {
    float: right;
}

.card-actions a {
    cursor: pointer;
    color: #67757c;
    opacity: 0.7;
    padding-left: 7px;
    font-size: 13px;
}

.card-actions a:hover {
    opacity: 1;
}

.card-columns .card {
    margin-bottom: 20px;
}

.collapsing {
    -webkit-transition: height .08s ease;
    -o-transition: height .08s ease;
    transition: height .08s ease;
}

.card-info {
    background: #398bf7;
    border-color: #398bf7;
}

.card-primary {
    background: #745af2;
    border-color: #745af2;
}

.card-outline-info {
    border-color: #398bf7;
}

.card-outline-info .card-header {
    background: #398bf7;
    border-color: #398bf7;
}

.card-outline-inverse {
    border-color: #2f3d4a;
}

.card-outline-inverse .card-header {
    background: #2f3d4a;
    border-color: #2f3d4a;
}

.card-outline-warning {
    border-color: #ffb22b;
}

.card-outline-warning .card-header {
    background: #ffb22b;
    border-color: #ffb22b;
}

.card-outline-success {
    border-color: #06d79c;
}

.card-outline-success .card-header {
    background: #06d79c;
    border-color: #06d79c;
}

.card-outline-danger {
    border-color: #ef5350;
}

.card-outline-danger .card-header {
    background: #ef5350;
    border-color: #ef5350;
}

.card-outline-primary {
    border-color: #745af2;
}

.card-outline-primary .card-header {
    background: #745af2;
    border-color: #745af2;
}

.scrollbooster-viewport {
    height: 600px;
    overflow: hidden;
    margin: auto;
    border: 1px solid #868e96;
    cursor: move;
}

.position-absolute {
    position: absolute
}

.map-container {
    width: 100%;
    height: 600px;
    overflow: auto;
    position: relative;
    border: #DDD solid 1px;
}

.units-container {
    height: 560px;
    overflow: auto;
}

.marker-map-draggable {
    cursor: move;
}

.marker-map-draggable .label {
    background: #FFF;
    padding: 5px;
    color: #000;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    font-weight: bold;
}

#loading-map {
    display: none;
}

textarea.form-control {
    height: 150px;
}


/*
Template Name: Admin pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/


/*
Template Name: Admin Pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/


/*Theme Colors*/


/*bootstrap Color*/


/*Light colors*/


/*Normal Color*/


/*Extra Variable*/


/*******************
User card page
******************/

.el-element-overlay .white-box {
    padding: 0px;
}

.el-element-overlay .el-card-item {
    position: relative;
    padding-bottom: 25px;
}

.el-element-overlay .el-card-item .el-card-avatar {
    margin-bottom: 15px;
}

.el-element-overlay .el-card-item .el-card-content {
    text-align: center;
}

.el-element-overlay .el-card-item .el-card-content h3 {
    margin: 0px;
}

.el-element-overlay .el-card-item .el-card-content a {
    color: #67757c;
}

.el-element-overlay .el-card-item .el-card-content a:hover {
    color: #398bf7;
}

.el-element-overlay .el-card-item .el-overlay-1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.el-element-overlay .el-card-item .el-overlay-1 img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
    width: 100%;
    height: auto;
}

.el-element-overlay .el-card-item .el-overlay-1:hover img {
    -ms-transform: scale(1.2) translateZ(0);
    -webkit-transform: scale(1.2) translateZ(0);
    /* transform: scale(1.2) translateZ(0); */
}

.el-element-overlay .el-card-item .el-overlay-1 .el-info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
    background-color: transparent;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 0;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%) translateZ(0);
    -webkit-transform: translateY(-50%) translateZ(0);
    -ms-transform: translateY(-50%) translateZ(0);
}

.el-element-overlay .el-card-item .el-overlay-1 .el-info>li {
    list-style: none;
    display: inline-block;
    margin: 0 3px;
}

.el-element-overlay .el-card-item .el-overlay-1 .el-info>li a {
    border-color: #ffffff;
    color: #ffffff;
    padding: 12px 15px 10px;
}

.el-element-overlay .el-card-item .el-overlay-1 .el-info>li a:hover {
    background: #398bf7;
    border-color: #398bf7;
}

.el-element-overlay .el-card-item .el-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.el-element-overlay .el-card-item .el-overlay-1:hover .el-overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.el-element-overlay .el-card-item .el-overlay-1 .scrl-dwn {
    top: -100%;
}

.el-element-overlay .el-card-item .el-overlay-1 .scrl-up {
    top: 100%;
    height: 0px;
}

.el-element-overlay .el-card-item .el-overlay-1:hover .scrl-dwn {
    top: 0px;
}

.el-element-overlay .el-card-item .el-overlay-1:hover .scrl-up {
    top: 0px;
    height: 100%;
}

.el-element-overlay .el-card-item .el-overlay-1 {
    background-color: #DDD;
}

img.inamika-footer {
    margin-top: -5px;
}

.ui-autocomplete {
    z-index: 500000 !important;
}