<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
    {% endblock %}
    <style>
    *{
        font-family: Verdana, Geneva, sans-serif;
    }
    </style>
</head>
<body>
    {% block body %}
    {% endblock %}
    <br>
    <footer>
        {# <p><b>{{ 'THANK_YOU' | trans }}</b></p> #}
    </footer>
</body>
</html>