<div class="row">
	<div class="col-md-6 col-lg-4">
		<div class="form-group">
			<h4 class="card-title">{{ 'NAME' | trans }}</h4>
			<h5 class="card-subtitle">{{ entity.name }}</h5>
		</div>
	</div>
	<div class="col-md-12">
		<div class="form-group">
			<h4 class="card-title">{{ 'Datos' | trans }}</h4>
			<p class="card-subtitle">{{ entity.description | raw }}</p>
			<p class="card-subtitle">Analizar JSON <a href="https://jsonformatter.curiousconcept.com/" target="_blank">aquí</a></p>
		</div>
	</div>
</div>
