{% extends "InamikaBackOfficeBundle::Emails/layout.html.twig" %}
{% block body %}
<h2>{{ 'HELLO' | trans }} {{ entity.name }}!</h2>
<p>Su cuenta se ha activado, ya puede ingresar a nuestro sistema.</p>
{% endblock %}