{% extends "InamikaBackOfficeBundle::Emails/layout.html.twig" %}
{% block body %}
<h2>{{ 'HELLO' | trans }} {{ entity.name }}!</h2>
<p>{{ 'VALIDATE_ACCOUNT_DESCRIPTION' | trans }} </p>
    <p>Para hacer por favor haga click en el siguiente enlace 
        <a href="{{ url('inamika_frontend_customer_validate',{ id : entity.id, code : entity.codeActive}) }}">
        Click aquí
        </a>
</p>
{% endblock %}