{% extends "InamikaBackOfficeBundle::layout.html.twig" %}
{% block body %}
	{{ parent()}}
    <h3 class="card-title m-t-20">{{ 'GENERAL_DATA' | trans }}</h3>
    <hr>
    {% include 'InamikaBackOfficeBundle:Customers/_partials:get.html.twig' with { entity:entity } %}
{% endblock body %}
